[user]
	name = Amber Sprenkels
	email = amber@electricdusk.com
[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	editor = vim
	pager = bat --plain
